@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  background-color: red;
  letter-spacing: 0.055em;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about h2 {
  margin-top: 0;
}

.about__image {
  display: grid;
  align-content: center;
  justify-items: center;
}

.about__container {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 271px;
  max-width: 1340px;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
  gap: 100px;
}

.about__content p {
  font-size: 1.125rem;

  &p:first-of-type {
    position: relative;
    margin-top: -5px;
    &p:last-of-type {
      margin: 0;
    }
    &::after {
      position: absolute;
      top: 0;
      right: -50px;
    }
  }

  @media (max-width: 991.8px) and (min-width: 768) {
    .about {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .about__container {
      gap: $gap * 2;
      grid-template-columns: 1fr 271px;
    }
    .about__content p:first-of-type::after {
      right: -$gap;
    }
  }

  @media (max-width: 767.8px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__container {
    gap: $gap;
    grid-template-columns: 1fr 236px;
  }
  .about__content p:first-of-type::after {
    right: -10px;
  }

  @media (max-width: 575.8px) {
    .about__container {
      gap: $gap;
      grid-template-columns: 1fr;
    }
    .about__content p:first-of-type::after {
      display: none;
    }
  }
}

// // часть из урока 11
// .form {
//   background-color: $color-primary;
//   padding: $gap;
//   display: flex;
//   gap: $gap;
// }

// .form-item__input {
//   background-color: rgba($color-light, 0.05);
//   padding: $gap;
//   border: 2px solid rgba($color-light, 0);
//   border-bottom: 2px solid rgba($color-light, 0.1);
//   outline: none;
//   font-size: 1.125rem;
//   letter-spacing: 0.1em;
//   color: $color-light;
//   transition: 0.5s;
//   flex-grow: 1;
// }

// .form-item__input:focus {
//   border-color: rgba($color-light, 0.1);
//   border-bottom-color: $color-light;
//   background-color: rgba($color-light, 0.15);
// }
