@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  color: $color-gray;

  font-family: $font-main;
  font-size: $font-size;

  line-height: 1.15;
}

body {
  margin: 0;
  background-color: $color-light;
}

main {
  display: block;
}

hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

h1 {
  margin: 0.67em 0;

  font-size: 2em;

  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2rem;

  // @include lg-min {
  //   font-size: 3.75rem;
  // }
  // @include lg-md {
  //   font-size: 2.5rem;
  // }
  // @include md {
  //   font-size: 1.875rem;
  // }
}

h2 {
  letter-spacing: 0.1em;

  color: #2d3651;

  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
}

h3 {
  letter-spacing: 0.05em;

  color: #637588;

  font-size: 1.125rem;
}

a {
  background-color: transparent;
  text-decoration: none;

  color: $color-light;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: $color-gray;
}

@media (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    margin-bottom: 3rem;

    font-size: 2.5rem;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    margin-bottom: 2.625rem;

    font-size: 2rem;
  }
}

@media (max-width: 767.8px) {
  h1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  h2 {
    margin-bottom: 2.25rem;

    font-size: 1.5rem;
  }
}

@media (max-height: 690px) {
  .skills__container {
    grid-auto-rows: calc(230px - 13.3333333333px);
  }
}
@media (max-width: 575.8px) {
  h2 {
    margin-bottom: 2.25rem;

    text-align: center;

    font-size: 1.5rem;
  }
}
